{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'list' %}"><button style="background-color: #7f5af0; margin-top: 20px;"
            class="btn waves-effect bold">
            <i class="material-icons md-30 white-text left">keyboard_backspace</i>
            Back
        </button></a>
    <form method="POST">
        {% csrf_token %}
        <div style="margin-top: 100px;">
            {{ form }}
        </div>
        <label for="categoryInput">Expense Categores (hit enter after every
            category)</label>
        <input type="text" name="categoryInput" id="categoryInput">
        <input type="hidden" name="categoriesString">

        <ul id="categoriesContainer">

        </ul>

        <button type="submit" class="btn">Start Project</button>

    </form>
</div>

<script src="{% static 'js/category-toggler.js' %}"></script>

{% endblock %}
