<div class="container-fluid">
    <nav style="background-color: black;">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i style="margin-right: 0px;"
                        class="material-icons md-48">attach_money</i><b>B</b></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a style="color: white;font-weight: bolder;" href="#">Login</a></li>
                    <li><a style="color: white;font-weight: bolder;" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" style="background-color: grey;" id="mobile-demo">
        <li><a style="color: white;font-weight: bolder;" href="#">Test</a></li>
    </ul>
</div>
